<head>
	<%= javascript_include_tag "jquery-2.1.0" %>
	<%= javascript_include_tag "jquery-ui-1.10.4.custom" %>
	<%= stylesheet_link_tag "style" %>
</head>

<script type="text/javascript">

$(document).ready(function() {

	$(".link").click(function() {
		var page = $(this).attr("id");
		var color = $(this).attr("class");
		color = color.substr(5,6);
		$('#all_pages').animate({left: (page-1)*(-1000)});
		$("body").animate({backgroundColor: '#'+color});
		$("#menu ul li").removeClass('active');
		$(this).addClass('active');
	});

});

</script>

<body>
<div id="menu">
	<ul>
		<li id="1" class="link FFFFFF active">Home</li>
		<li id="2" class="link 005C99">About</li>
		<li id="3" class="link 5C9900">Contact</li>
	</ul>
</div>

<div id="container">
	<div id="all_pages">
		<div class="page">
			<%= image_tag("rou.gif", :width => "200", :height => "200") %>
			<h1>Home Page</h1>
			this is a home page
		</div>
		<div class="page">
			<h1>About Us Page</h1>
			this is an about us page
		</div>
		<div class="page">
			<h1>Contact Us</h1>
			this is a contact us page
		</div>
	</div>
</div>
</body>